*{
	margin: 0;
	padding: 0;
}
body {
	padding: 40px;
	height: 100vh;
	font-family: 'Rubik', sans-serif;
}
.form{
	padding: 15px;
}
.title{
	display: flex;
	justify-content: center;
	text-decoration: underline;
}
.subtitle{
	padding: 10px;
}
.format{
	display: grid;
	grid-template-columns: 3fr 5fr;
	 &--favorites{
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-self: self-start;
	}
	&--shows{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.shows{
	&__item{
		background-color: aquamarine;
  	display: flex;
		flex-direction: column;
		width: 180px;
		height: 200px;
			&__fav{
				width: 150px;
				height: 180px;
				background-color: white;
				justify-content: flex-start;
				align-items: flex-start;
			}
		}
	
	&__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 180px;
		&--img{
		width: 120px;
		}
		&--name{
		display: flex;
		font-size: 20px;
		}
		&__fav{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 120px;
			height: 120px;
			&--img{
				width: 80px;
				justify-content: center;
			}
			&--name{
				display: flex;
				justify-content: flex-start;
				font-size: 16px;
			}
		}
	
	}
}
