<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Final exercise</title>
  <link rel="stylesheet" href="./assets/css/main.css" />
  <link rel="icon" href="./favicon.png" />
</head>

<body>
  <h1 class="title">Buscador de Series</h1>
  <div class="format">
    <form class="form">
      <input type="text" name="searcher" id="searcher" class="input__text">
      <input type="submit" value="Search" class="input__btn js-btn">
    </form>
    <h2 class="subtitle">Mis series favoritas</h2>
    <ul class="format--favorites js-list-favorites">
    </ul>
    <ul class="format--shows js-list-shows">
    </ul>
  </div>
  <script src="./assets/js/main.js"></script>
</body>

</html>